<%- include header %>
<form method="post">
    Title: <br/>
    <input type="text" name="title" value="<%= post.title %>"/><br/>
    Content: <br/>
    <textarea name="post" cols="100" rows="20"><%= post.post %></textarea><br/>
    <input type="submit" value="Save"/> <br/>
</form>
<%- include footer %>