<%- include ../include/header %>
<form action="/users/reg" method="post" role="form" class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="input-group col-sm-10">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username"/>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="input-group col-sm-10">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-envelope"></span>
            </div>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="input-group col-sm-10">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-lock"></span>
            </div>
            <input type="password" class="form-control"  name="password" id="password" placeholder="Password"/>
        </div>
    </div>
    <div class="form-group">
        <label for="repassword" class="col-sm-2 control-label">Confirm password</label>
        <div class="input-group col-sm-10">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
            <input type="password" class="form-control" name="repassword" id="repassword" placeholder="Confirm password"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="register">Register</button>
        </div>
    </div>
</form>
<%- include ../include/footer %>